
    <section class="category">
        <div class="container">
            <div class="row">
               {*} This section is for dynamic content {*}
            </div>
        </div>
        <hr>
    </section>
