<section class="stores lazyload" id="stores">
    <div class="container">
        <div class="row">
            {foreach $contactTree as $item}

            {/foreach}
        </div>
    </div>
</section>
