<div class="container">
    {foreach $articles as $article}
        <li class="col-sm-3">
            <ul>
                <li class="dropdown-header"><a href="{plink Category:show $slug}#{$article->title|webalize}">{$article->title|FirstUpper}</a></li>
            </ul>
        </li>
    {/foreach}
</div>
