<section class="about-us">
  <div class="container">
    <h1 class="category-title text-center">{$category->title|firstUpper}</h1>
    <hr>
    <p class="description">{$category->content|firstUpper}</p>
  </div>
</section>
