services:

        #Order Form
        - App\FrontModule\Components\OrderForm\OrderFormControlFactory
        - App\FrontModule\Components\OrderForm\OrderFormControl

        #Shops
        - App\FrontModule\Components\Shops\ShopsControl
        - App\FrontModule\Components\Shops\ShopsControlFactory

        #Counseling
        - App\FrontModule\Components\Counseling\CounselingControl
        - App\FrontModule\Components\Counseling\CounselingControlFactory
