{block content}

<div class="container">{control menuForm}</div>
<div id="articles"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="{$basePath}/admin-module/js/api_post.js"></script>