{*
* $counseling - iba kategoria poradna
* $articles - vsetky clanky pod poradnou
*}
<section class="counseling" id="counseling">

        <h3>Poradňa</h3>

        <div id="owl-demo" class="owl-carousel owl-theme">
            {foreach $articles as $article}
                <figure id="currentImageWithCaption">
                    <a href="{plink Article:show $article->slug}">
                        <div class="carousel-img-height">
                            <img src="\imgs\carousel\counseling/3.jpg" title="Title 1" alt="Title 1">
                        </div>
                        <figcaption id="figcaption">
                            <h4>{$article->title}</h4>
                            <p class="caption">{$article->content}</p>
                            <p class="readmore"><a href="{plink Article:show $article->slug}">Citat viac<i class="glyphicon glyphicon-menu-right"></i></p></a>
                        </figcaption>
                    </a>
                </figure>
            {/foreach}
        </div>
        <div class="counselingbtn">
            <a class="button main-button button-no-image arrow-btn-animation" href="{plink Category:show $counseling['slug']}">Všetky clanky poradne</a>

        </div>

    </section>