<form n:name=forgotPasswordForm>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Reset Password</h1>
                </div>
            </div>
            <div class="row inputs">
                <div class="col-sm-12">
                    <label for="email">Email</label>
                    <input n:name=email>
                </div>
            </div>
            <div class="row links">
                <div class="col-sm-8 text-right special-padding">
                    <a href="{plink Sign:in}"><p>Back to login</p></a>
                </div>
                <div class="col-sm-4">
                    <input n:name=submit>
                </div>
            </div>
        </div>
    </div>
</form>