{layout '../modalLayout.latte'}

{block content}
{control imageForm}
{*

<img src="{$path}{$image->name}" alt="{$image->alt}">

<a n:href="update!, 'image_id'=>$id, 'category_id' => $categoryId" class="ajax">Set as main image</a>*}
